* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1a1b1f;
  font: 15px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-button {
  -webkit-transform: translate(-50%, -50%);
  background: #4eabf1;
  display: block;
  font-size: 30px;
  left: 50%;
  padding: 10px 20px;
  position: fixed;
  top: 50%;
}

#wrapper {
  margin: auto;
  max-width: 900px;
  padding: 0 20px;
}

textarea {
  display: block;
  height: 100px;
  margin: 20px 0;
  resize: none;
  width: 100%;
}

input, textarea, button {
  -webkit-appearance: none;
  background: #333;
  border-radius: 0;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
}

input {
  width: 152px;
  padding: 1px 2px;
}

button {
  float: right;
  padding: 1px 8px;
}

.logout-button {
  color: #777;
  display: inline-block;
  margin-top: 15px;
}

ul {
  border-radius: 4px;
  overflow: auto;
}

li {
  background: #f9f9f9;
  color: #000;
  list-style: none;
  margin: 20px 0;
  padding: 10px;
}

li:first-of-type {
  border-radius: 4px 4px 0 0;
}

li:last-of-type {
  border-radius: 0 0 4px 4px;
}

li:hover {
  cursor: pointer;
}

.controls {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.icons {
  line-height: 1em;
}

.delete-note {
  display: none;
}

a {
  color: #000;
  text-decoration: none;
}

.note-content {
  word-wrap: break-word;
}

.note-content a {
  text-decoration: underline;
}

.note-content p {
  margin: 10px 0;
}

.note-content p:first-of-type {
  margin: 0;
}

.note-content p:last-of-type {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

@media (min-width: 700px) {
  aside {
    float: left;
    margin-right: 20px;
    position: relative;
    width: 220px;
  }

  .delete-note {
    display: inline;
  }
}
